{% extends 'rawinala/base.html' %}
{% load staticfiles %}

{% block title_b %}Buat newsletter{% endblock %}
{% block body_b %}
    <section id="create-newsletter">
        <div class="container">
            <h1>Buat newsletter baru</h1>
            <form method="post" action="{% url 'newsletter:publish' %}">
                {% csrf_token %}
                <h3>Edisi: {{edition|date:'M Y'}}</h3>

                <div class="form-group">
                    <small class="form-text">Header dan footer newsletter akan ditambahkan secara otomatis.</small>
                    {{ content_form }}
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Publish</button>
            </form>
        </div>
    </section>

    <!-- ckeditor js -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}