<!doctype html>
{% load staticfiles %}
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/article.css' %}">

    <title>Sapa Sahabat Rawinala</title>
</head>

<body>
    <div class="container">
        <img id="newsletter-header" src="{% static 'newsletter/img/nl_header.png' %}" style="display: block; margin-left: auto; margin-right: auto; height: auto; width: 100%; max-width: 480px;">
        <div style="padding-top:1rem;padding-bottom:1rem;">
            {% if title %}
            <h3><strong>{{ title }}</strong></h3>
            {% endif %}
            <h5>{{ date_created|date:"d M Y" }}</h5>
        </div>

        <div class="newsletter-content" style="padding-top:1rem;padding-bottom:2rem;">
            {{ content|safe }}
        </div>

        <!-- Footer -->
        <div style="padding-top:1rem;padding-bottom:2rem;">
            <hr>
            <p><strong>&copy; 2017 Yayasan Pendidikan Dwituna Rawinala </strong></p>
            <p>Rekening:</p>
            <ul>
                <li>BCA: 094.300.2689</li>
                <li>Bank Mandiri: 129.000.128.1449</li>
            </ul>
        </div>

        <p style="text-align:center;">
            <small>
                <a href="http://{{ hostname }}{{ unsubs_path }}" target="_blank">Unsubscribe</a>
            </small>
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>