img.country-flag {
    height: .8rem;
}

.text-white {
    color: white;
}

.text-grey {
    color: #BDBDBD; /* not actually grey.. */
}

.text-dark {
    color: #616161 !important;
}

.text-center {
    text-align: center;
}

.letter-spaced {
    letter-spacing: 6px;
}

.header-image {
    background-image: url('/static/home/img/rawinala_front_bw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ribbon {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006064;
}

.form-center {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img#dewaweb-sponsor {
    width: 25rem;
    max-width: 80vw;
    height: auto;
}