{% extends 'base.html' %}
{% load staticfiles %}

{% block header_b %}
    <link rel="stylesheet" href="{% static 'blog/css/form.css' %}">
{% endblock %}
{% block title_b %}Edit article{% endblock %}
{% block body_b %}
    <div class="container py-3">
        <h2>Edit artikel</h2>
        <form class="myform my-4" method="POST" action="{% url 'blog:edit' year=original_year slug=original_slug %}">
            {% csrf_token %}
            {{ form }}
            
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 mb-3">Save</button>
        </form>
    </div>
{% endblock %}