{% extends 'base_en.html' %}
{% load staticfiles %}

{% block header_b %}
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="{% static 'blog/css/article.css' %}" rel="stylesheet">
    <meta name="description" content="{{ art.content|striptags|truncatechars:500 }}" />

    <!-- markup Schema.org untuk Google+ -->
    <meta itemprop="name" content="{{ art.title }}">
    <meta itemprop="description" content="{{ art.content|striptags|truncatechars:500 }}">
    <meta itemprop="image" content="https://www.rawinala.org{% static 'newsletter/img/nl_header.png' %}">

    <!-- basic Twitter Card -->
    <meta name="twitter:card" content="summary">
        
    <!-- Open Graph -->
    <meta property="og:title" content="{{ art.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.rawinala.org{{ art.get_absolute_url }}" />
    <meta property="og:image" content="https://www.rawinala.org{% static 'newsletter/img/nl_header.png' %}" />
    <meta property="og:description" content="{{ art.content|striptags|truncatechars:500 }}" />
    <meta property="og:site_name" content="Rawinala" />
    <meta property="article:published_time" content="{{ art.date_created|date:'c' }}" />
    <meta property="article:modified_time" content="{{ art.date_modified|date:'c' }}" />

    <!-- Sharethis -->
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5ac45ae81243c10013440ce2&product=inline-share-buttons"></script>
{% endblock %}
{% block title_b %}{{ art.title }}{% endblock %}
{% block body_b %}
    <div class="container py-5">
        <article>
            <div id="article-title">
                <header>
                    <h1>{{ art.title }}</h1>
                </header>
            </div>
            <div class="pb-2" id="article-body">
                <section class="main-content">
                    {{ art.content|safe }}
                </section>
            </div>
            <div class="mb-3" id="article-detail">
                <footer>
                    <div>
                        <img src="{% static 'blog/img/icons/person.svg' %}" title="author" alt="author"><small> {{ art.author }}</small>
                        <img src="{% static 'blog/img/icons/calendar.svg' %}" title="time" alt="time"><small><time datetime="{{ art.date_created|date:'c' }}"> {{ art.date_created|date:"d M Y, H:i" }}</time></small>
                        <img src="{% static 'blog/img/icons/eye.svg' %}" title="views" alt="views"><small> {{ art.view_count }}</small>
                    </div>
                </footer>
            </div>
            <div class="container">
                <section class="social-media-share">
                    {% if not debug %}
                        <div class="sharethis-inline-share-buttons"></div>
                    {% else %}
                        Sharethis not yet loaded.
                    {% endif %}
                </section>
            </div>
    
            {% if user.is_authenticated %}
            <div class="py-2" id="admin-menu">
                <section class="admin-menu">
                    <span>
                        <a href="{% url 'blog:edit' year=art.date_created.year slug=art.slug %}" class="btn btn-sm btn-info" role="button">Edit this article</a>
                    </span>
                </section>
            </div>
            {% endif %}
    
            {% if not debug %}
            <div class="p-2" id="comments">
                <section class="comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = 'https://www.rawinala.org{{ art.get_absolute_url }}'; 
                            this.page.identifier = '{{ art.id }}';
                            this.page.title = '{{ art.title }}'
                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://rawinala.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </section>
            </div>
            {% else %}
                Disqus should load here when not debug.
            {% endif %}
        </article>
    </div>
{% endblock %}