{% extends 'rawinala/base.html' %}
{% load staticfiles %}

{% block title_b %}Tentang Kami{% endblock %}
{% block body_b %}
    <section id="background">
        <div class="text-center">
            <h3 class="letter-spaced">LATAR BELAKANG</h3>
        </div>
        <div class="container text-dark">
            <p>Didorong oleh kebutuhan dan kesadaran akan pentingnya bidang pendidikan bagi penyandang tunaganda netra, pada
                tahun 1973 dibentuklah Yayasan Pendidikan Dwituna Rawinala oleh beberapa aktivis Gereja Kristen Jawa. Menyadari
                bahwa kecacatan adalah masalah universal, Rawinala membuka kesempatan bagi siapa pun, tanpa membedakan latar
                belakang dan status sosial orang tersebut.
                <br> Rawinala dalam bahasa Jawa kuno berarti
                <strong>cahaya hati</strong>, bahwa mereka yang tidak dapat melihat, masih dapat "melihat" melalui indera lainnya,
                juga hati dan jiwanya.</p>
        </div>
    </section>

    <section id="vision-mission" class="text-center">
        <div>
            <h3 class="letter-spaced">VISI & MISI</h3>
        </div>
        <div class="container text-dark">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="letter-spaced">VISI</h6>
                    <p>Menjadi pusat unggulan pelayanan menyeluruh bagi tunanetra ganda di Indonesia</p>
                </div>
                <div class="col-md-6">
                    <h6 class="letter-spaced">MISI</h6>
                    <p>Menyelenggarakan pendidikan, pengasuhan, dan pengembangan yang berkualitas bagi tunanetra ganda melalui
                        profesionalitas lembaga, sarana, dan jejaring</p>
                </div>
            </div>
            <div class="text-center">
                <h6 class="letter-spaced">MOTTO</h6>
                <p>Berikan hati dan tanganmu untuk melayani</p>
            </div>
        </div>
    </section>

    <section id="organization-structure">
        <div class="text-center">
            <h3 class="letter-spaced">SUSUNAN KEPENGURUSAN</h3>
        </div>
        <div class="container table-responsive">
            <table class="table table-sm table-bordered table-hover mx-auto">
                <caption>Periode 2016-2020</caption>
                <tbody>
                    <tr>
                        <th>Pembina</th>
                        <td>Pdt. Kadarmanto Hardjowasito</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Ny. Maryono Idris Sunarmo</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Ny. Moelarsih D. Purwanto</td>
                    </tr>
                    <tr>
                        <th>Pengawas</th>
                        <td>Gatot Pudjantojo</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Budi Sukamto</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Sri Udaneni</td>
                    </tr>

                    <tr class="table-secondary">
                        <th colspan="2">Pengurus Utama</th>
                    </tr>
                    <tr>
                        <th>Ketua</th>
                        <td>Dwihardjo Sutarto</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Priyatmedi</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Endang Hoyaranda</td>
                    </tr>
                    <tr>
                        <th>Sekretaris</th>
                        <td>Mintardi</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Supriatmo</td>
                    </tr>
                    <tr>
                        <th>Bendahara</th>
                        <td>Dharmawati I. Basuki</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Maria Eti Martati</td>
                    </tr>
                    <tr>
                        <th>Penggalangan Dana</th>
                        <td>Andrew Suryadi</td>
                    </tr>
                    <tr>
                        <th>Kepatuhan dan Kerjasama</th>
                        <td>Abimanyu Suharto</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Santo Hoyaranda</td>
                    </tr>
                    <tr>
                        <th>Komunikasi</th>
                        <td>Titi Juliasih</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Sri Hariningsih</td>
                    </tr>
                    <tr>
                        <th>Proyek dan Pemeliharaan</th>
                        <td>Yacobus Manafe</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Satrio Wibowo</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>David Tirtonegoro</td>
                    </tr>
                    <tr>
                        <th>Training Center</th>
                        <td>Ruth Kadarmanto</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Hesti Kusworini</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="contact-us">
        <div class="text-center"
            <h3 class="letter-spaced">HUBUNGI KAMI</h3>
        </div>
        <div class="container">
            <form class="form-center" method="post" action="{% url 'rawinala:contact' %}">
                {% csrf_token %}
                <p>Lihat juga: <a href="{% url 'rawinala:donation' %}">informasi donasi dan partisipasi pelayanan</a>.</p>
                <div class="form-group">
                    <label for="name-input">Name</label>
                    <input type="text" name="name" class="form-control" id="name-input" maxlength="100" required>
                </div>

                <div class="form-group">
                    <label for="email-input">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email@example.com" id="email-input" maxlength="100" required>
                    <small class="form-text text-muted">We will never share your email.</small>
                </div>

                <div class="form-group">
                    <label for="message-input">Message</label>
                    <textarea name="message" class="form-control" id="message-input" rows="10" maxlength="1000" required></textarea>
                </div>

                <div class="form-group">
                    <label for="captcha-input">Security question: {{challenge}}</label>
                    <input type="number" name="captcha-response" class="form-control" placeholder="{{challenge}}" id="captcha-input" required>
                    <small class="form-text text-muted">This is used to prevent spam and abuse.</small>
                </div>

                <button type="submit" class="btn btn-block btn-primary">Send</button>
            </form>
        </div>
    </section>

    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}'); </script>
        {% endfor %}
    {% endif %}
{% endblock %}