{% extends 'rawinala/base.html' %}
{% load staticfiles %}

{% block html_header_b %}
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <meta name="description" content="Yayasan Pendidikan Dwituna Rawinala adalah sebuah lembaga yang melayani kebutuhan pendidikan penyandang tunaganda netra, sebuah kondisi dimana penyandangnya memiliki dua atau lebih keterbatasan, utamanya pada indra penglihatan. Penyandang tunaganda netra sulit mendapatkan layanan pendidikan di sekolah luar biasa.">
    <!-- Open Graph -->
    <meta property="og:title" content="Rawinala" />
    <meta property="og:url" content="https://www.rawinala.org" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.rawinala.org/static/newsletter/images/nl_header.png" />
{% endblock %}
{% block title_b %}Beranda{% endblock %}
{% block body_b %}
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid header-image text-center text-white">
        <div class="container">
            <h3 class="jumbotron-heading letter-spaced" style="text-shadow: -1px 0 #9E9E9E, 0 1px #9E9E9E, 1px 0 #9E9E9E, 0 -1px #9E9E9E;">
                <strong>SELAMAT DATANG DI RAWINALA</strong>
            </h3>
            <p class="lead">Yayasan Pendidikan Dwituna Rawinala adalah sebuah lembaga yang melayani kebutuhan pendidikan penyandang tunaganda
                netra, sebuah kondisi dimana penyandangnya memiliki dua atau lebih keterbatasan, utamanya pada indra penglihatan.
                Penyandang tunaganda netra sulit mendapatkan layanan pendidikan di sekolah luar biasa.</p>
        </div>
    </div>
    <!-- END Jumbotron -->

    <section id="education">
        <div class="text-center">
            <h3 class="letter-spaced">PENDIDIKAN</h3>
            <p class="text-dark">
                <em>bagi penyandang tunaganda netra usia 0-20 tahun</em>
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/1.JPG' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">PELAYANAN DINI</h6>
                            <p class="card-text text-dark">Program pendidikan bagi anak usia 0-6 tahun. Potensi awal anak mulai diamati, digali, dan dikembangkan
                                melalui program-program yang disesuaikan dengan kebutuhan dan kemampuan anak.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/2.JPG' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">PENDIDIKAN DASAR</h6>
                            <p class="card-text text-dark">Program ini dirancang dari empat area pokok pendidikan fungsional: to live, to work, to play,
                                dan to love. Anak diarahkan untuk mengembangkan potensi yang dimiliki dan mengeksplorasi
                                kemampuan lainnya yang dapat menunjang kemandiriannya.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/3.JPG' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">PENDIDIKAN LANJUTAN</h6>
                            <p class="card-text text-dark">Program pendidikan lanjutan bagi anak usia 14-18 tahun untuk mengembangkan keterampilan bekerja
                                sesuai kebutuhan dan kemampuannya. Tujuannya bukan hanya untuk mendapatkan penghasilan, melainkan
                                juga agar anak mampu melakukan berbagai pekerjaan sederhana.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="nurture">
        <div class="text-center">
            <h3 class="letter-spaced">PENGASUHAN</h3>
            <p class="text-dark">
                <em>bagi penyandang tunaganda netra yang karena suatu hal tidak dapat tinggal bersama keluarga</em>
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/4.JPG' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">ASRAMA PENDIDIKAN</h6>
                            <p class="card-text text-dark">Disediakan bagi anak usia sekolah yang memenuhi kategori tertentu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/5.JPG' %}" alt="">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">ASRAMA PERAWATAN</h6>
                            <p class="card-text text-dark">Tempat tinggal bagi penyandang tunaganda netra dewasa yang sudah tidak memiliki keluarga. Setiap
                                penghuni asrama memiliki peran dalam pekerjaan rumah tangga dan dibantu oleh beberapa asisten
                                yang bekerja sama membangun lingkungan rumah tinggal yang fungsional dan bahagia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="photo-row">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/6.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/7.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/8.JPG' %}" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'rawinala/images/9.JPG' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="society">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">SHELTERED WORKSHOP</h6>
                            <p class="card-text text-dark">Bengkel kerja tempat berlatih bagi anak-anak yang telah menyelesaikan pendidikan lanjutan. Mereka
                                yang masuk dalam kategori mampu latih akan diberikan keterampilan yang sesuai dengan kemampuannya,
                                agar anak dapat memiliki penghasilan untuk mencukupi kebutuhan sehari-hari.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">REHABILITASI BERSUMBER DAYA MASYARAKAT</h6>
                            <p class="card-text text-dark">Rawinala juga melayani penyandang disabilitas di luar lembaga dengan cara memberdayakan masyarakat,
                                lembaga masyarakat, dan pemerintah baik secara lokal, regional, maupun nasional.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title text-center letter-spaced">TRAINING CENTER</h6>
                            <p class="card-text text-dark">Tujuan program ini adalah mendorong dan melatih lembaga-lembaga pendidikan, baik negeri maupun
                                swasta, untuk membuka pelayanan yang serupa. Sasaran dari program ini adalah guru, pekerja
                                sosial, keluarga, masyarakat, dan pemerintah.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="latest-news">
        <div class="container">
            <div>
                <h3>Artikel Terbaru</h3>
            </div>
            {% if recent_arts %}
                {% for art in recent_arts %}
                    <div class="article-preview">
                        <a href="{{art.get_absolute_url}}">
                            <h4>{{art.title}}</h4>
                        </a>
                        <div class="article-preview-body">
                            <p>{{art.content|striptags|truncatechars:300}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Belum ada artikel terbaru..</p>
            {% endif %}
        </div>
    </section>

    <section id="newsletter-subscription" class="ribbon">
        <div class="container">
            <h3 class="text-white">Daftar newsletter "Sapa Sahabat Rawinala"</h3>
            <form method="post" action="{% url 'newsletter:subscribe' %}" class="form-inline">
                {% csrf_token %}
                <label for="email-input" class="sr-only">Email</label>
                <input type="email" name="email" id="email-input" placeholder="email@example.com" class="form-control mr-2">

                <button type="submit" class="btn btn-primary">Daftar</button>
            </form>
        </div>
    </section>
    <!-- newsletter subscription status -->
    {% if messages %}
        {% for message in messages %}
            <script>alert('{{message}}'); </script>
        {% endfor %}
    {% endif %}
{% endblock %}
