{% extends 'rawinala/base.html' %}
{% load staticfiles %}

{% block title_b %}Pesan pengunjung{% endblock %}
{% block body_b %}
    <section id="message-list">
        <div class="container">
            <h3>Guest messages</h3>
            <small><b>Note:</b> all messages listed here have been forwarded to admin.</small>
            {% if visitor_messages.paginator.count > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Email</th>
                                <th scope="col">Waktu</th>
                                <th scope="col">Pesan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in visitor_messages %}
                            <tr>
                                <td><button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#messageModal-{{message.id}}">{{message.name}}</button></td>
                                <td>{{message.email}}</td>
                                <td>{{message.time|date:"D, d M Y, H:i"}}</td>
                                <td>{{message.content|striptags|truncatechars:30}}</td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="messageModal-{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel-{{message.id}}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="messageModalLabel-{{message.id}}">Message from {{message.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{message.content}}
                                        </div>
                                        <div class="modal-footer">
                                            <a href="mailto:{{message.email}}" class="btn btn-info" role="button">Reply by email</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Paginator -->
                <div class="paginator">
                    <span class="step-links">
                        {% if visitor_messages.has_previous %}
                            <a href="?page={{messages.previous_page_number}}" class="mx-2"><img src="{% static 'rawinala/images/icons/arrow-thick-left.svg' %}" title="Show newer" alt="Newer messages" height="16px" height="auto"></a>
                        {% endif %}
                        <span class="current">
                            Page {{visitor_messages.number}} of {{visitor_messages.paginator.num_pages}}
                        </span>
                        {% if visitor_messages.has_next %}
                            <a href="?page={{messages.next_page_number}}" class="mx-2"><img src="{% static 'rawinala/images/icons/arrow-thick-right.svg' %}" title="Show older" alt="Older messages" height="16px" height="auto"></a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>No message yet..</p>
            {% endif %}
        </div>
    </section>
{% endblock %}